.pc/
Announce.txt
COPYING.txt
File_id.diz
Makefile
Makefile.am
Makefile.in
QHULL-GO.pif
README.txt
REGISTER.txt
aclocal.m4
config.log
config/
config.status
configure
configure.ac
debian/files
debian/*.debhelper*
debian/*.substvars
debian/libqhull-dev/
debian/libqhull-doc/
debian/libqhull5/
debian/qhull-bin/
debian/*.1
debian/*.xml
debian/stamp-*
debian/tmp/
eg/
html/
index.htm
libtool
src/
