#!/usr/bin/make -f
# debian/rules for Debian qhull package
# GNU copyright 2007 by Rafael Laboissiere

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/patchsys-quilt.mk

debdir	:= $(CURDIR)/debian
deblin	:= $(debdir)/libqhull-dev/usr/share/lintian/overrides
htmldir	:= $(debdir)/tmp/usr/share/doc/qhull/html

DEB_DH_INSTALL_SOURCEDIR = debian/tmp
DEB_COMPRESS_EXCLUDE = .c .h .txt
CFLAGS := $(CFLAGS) -fno-strict-aliasing

build/qhull-bin::
	# Build man pages
	@( cd debian ;							\
	  for info in "qconvex:compute the convex hull"			\
	              "qdelaunay:compute the Delaunay triangulation"	\
	              "qhalf:halfspace intersection about a point"	\
	              "qvoronoi:compute the Voronoi diagram" ; do	\
	      comm=`echo  $$info | cut -d: -f1` ;			\
	      purp=`echo  $$info | cut -d: -f2` ;			\
	      echo -n Building man page for $$comm... ;			\
	      eperl -d command=$$comm -d purpose="$$purp"		\
	          manpage.in > $$comm.xml ;				\
	      docbook2x-man $$comm.xml ;				\
	      echo " done" ;						\
	  done )
	# Run tests
	PATH=./src/:$$PATH /bin/sh eg/q_test

clean::
	rm -f debian/*.xml debian/*.1

install/libqhull-dev::
	# Install all the needed documentation files
	cp *.txt html/*.txt $(htmldir)
	rm -f $(htmldir)/COPYING.txt
	mkdir $(htmldir)/src
	cp src/*.c src/*.h src/*.htm src/*.txt $(htmldir)/src
	sed -i 's:href="../:href=":g' $(htmldir)/*.htm
	# Install Lintian override file
	mkdir -p $(deblin)
	install --mode=644 $(debdir)/libqhull-dev.lintian \
		$(deblin)/libqhull-dev
