#!/usr/bin/make -f
# debian/rules for Debian qhull package
# GNU copyright 2007 by Rafael Laboissiere

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk

htmldir	:= debian/tmp/usr/share/doc/qhull/html

DEB_DH_INSTALL_SOURCEDIR = debian/tmp
DEB_COMPRESS_EXCLUDE = .c .h

build/qhull-bin::
	( cd debian ;							\
	  for info in "qconvex:compute the convex hull"			\
	              "qdelaunay:compute the Delaunay triangulation"	\
	              "qhalf:halfspace intersection about a point"	\
	              "qvoronoi:compute the Voronoi diagram" ; do	\
	      comm=`echo  $$info | cut -d: -f1` ;			\
	      purp=`echo  $$info | cut -d: -f2` ;			\
	      eperl -d command=$$comm -d purpose="$$purp"		\
	          manpage.in > $$comm.xml ;				\
	      docbook2x-man $$comm.xml ;				\
	  done )

clean::
	rm -f debian/*.xml debian/*.1

install/libqhull-dev::
	mkdir -p $(htmldir)/src
	cp src/*.{c,h,htm} $(htmldir)/src
	perl -pi -e 's:../src/:src/:g' $(htmldir)/*.htm
